@model PokeGallery.Models.Pokemon

<!DOCTYPE html>
<html>
<head>
    <title>Pokemon Details</title>
</head>
<body>
    <h1>Pokemon Details</h1>
    <div>
        <p>ID: @Model.Id</p>
        <p>Name: @Model.Name</p>
    </div>
</body>
</html>
